.containerFormCard {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100dvw;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.295);
  z-index: 10;

  .divFormCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    position: relative;
    height: 25%;
    min-height: 150px;
    width: calc(200px);
    max-width: 400px;
    padding: 5%;
    background-color: var(--colorPrimaryBlue);
    border-radius: 10px;
    color: var(--colorPrimaryWhite);
    gap: 10px;

    .formCard {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;

      & div {
        display: flex;
        position: relative;
        gap: 2%;
        width: 50%;
        margin-top: 5%;

        & select {
          background: linear-gradient(
            to bottom,
            var(--colorPrimaryOrange),
            var(--colorSecundaryOrange)
          );
          color: var(--colorPrimaryWhite);
          font-weight: bold;
          border-radius: 10px;
          padding: 5px;
          width: 100px;

          & option {
            color: var(--colorPrimaryBlack);
          }
        }

        & select:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }

      .butAddNewTask {
        display: flex;
        position: absolute;
        bottom: 5%;
        align-items: center;
        justify-content: center;
        padding: 5px;
        background: linear-gradient(
          to bottom,
          var(--colorPrimaryOrange),
          var(--colorSecundaryOrange)
        );
        color: white;
        font-weight: bolder;
        border-radius: 10px;
        width: 100px;
      }

      .butAddNewTask:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}

.formCardOpen {
  display: flex;
}

.formCardClose {
  display: none;
}

@media (max-width: 768px) {
  .containerFormCard {
    .divFormCard {
      height: 40%;
    }
  }
}

.pError {
  display: flex;
  font-size: 0.7em;
  margin-top: 5px;
  color: var(--colorSecundaryRed);
}

.pDesbility {
  display: none;
  font-size: 0.3em;
}
