.pCont {
  display: flex;
  position: absolute;
  font-size: 0.8em;
  left: -10px;
  top: 35%;
}

.divContentTask {
  display: flex;
  position: relative;
  padding: 2% 5%;
  width: 80%;
  border-bottom: 1px solid white;

  .iconsChecked {
    display: flex;
    margin-right: 10px;
  }

  .divContentText {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .divStatus {
    display: flex;
    position: absolute;
    right: 25px;
    top: 65%;
    font-size: 0.7em;
    z-index: 2;
  }

  .divStatusChecked {
    color: var(--colorSecundaryGreen);
  }

  .iconsDelete {
    display: flex;
    position: absolute;
    right: 0px;
    top: 40%;
  }
}

.checked {
  color: var(--colorSecundaryGreen);
  text-decoration-line: line-through;
}
