.containerLoading {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.295);
  justify-content: center;
  align-items: center;

  .contentLoading {
    animation: spin 1s linear infinite;
    width: 40px;
    height: 40px;
    border: 10px solid var(--colorPrimaryBlack);
    border-top-color: var(--colorPrimaryOrange);
    border-radius: 50%;
  }
}

@keyframes spin {
  to {
    transform: rotate(359deg);
  }
  from {
    transform: rotate(0deg);
  }
}
