[data-theme="Light"] {
  --colorPrimaryOrange: rgb(235, 136, 44);
  --colorSecundaryOrange: rgb(224, 91, 29);
  --colorPrimaryWhite: white;
  --colorPrimaryBlack: black;
  --colorPrimaryRed: Red;
  --colorPrimaryGreen: Green;
  --colorSecundaryGreen: Lightgreen;
}

* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

:root {
  font-family: Ubuntu, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input:focus {
  outline: none;
}
